/*Container*/
.button-marker-container {
  background-image: url('/img/main.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.button-marker-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--grey);
  opacity: 0.4;
  pointer-events: none;
}

/*Markers*/
.button-marker {
  position: absolute;
}

.button-marker[data-active="true"]:after {
  content: attr(data-content);
}

.button-marker_color_green {
  background-color: var(--green);
}

.button-marker_color_blue {
  background-color: var(--blue);
}

.stadium {
  top: 43%;
  left: 35.8%;
}

.bridge {
  top: 69%;
  left: 20.9%;
}

.a-building {
  top: 20.7%;
  left: 25.6%;
}

.main-entrance {
  top: 59.4%;
  left: 49.3%;
}

.e-complex {
  top: 34.4%;
  left: 50.5%;
}

.hotel {
  top: 64.1%;
  left: 56.4%;
}

.building {
  top: 14.4%;
  left: 57.5%;
}

.residential-building {
  top: 69%;
  left: 66.7%;
}

.business-center {
  top: 42.4%;
  left: 55%;
}

.hotel-2 {
  top: 77.6%;
  left: 36.7%;
}

.button-marker {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  border: none;
  position: relative;
  cursor: pointer;
  outline: none;
  font-family: Arial, sans-serif;
  color: var(--white);
  font-size: 14px;
  line-height: 1.15;
}

.button-marker[data-active="true"] .cross:before {
  display: none;
}

.button-marker:after {
  content: attr(data-content);
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: var(--white);
  padding: 12px 10px 12px 25px;
  border-top-left-radius: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 0;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.button-marker[data-active="true"]:after {
  opacity: 1;
}

.button-marker.button-marker_color_green:after{
  background: var(--green);
}

.button-marker.button-marker_color_blue:after{
  background: var(--blue);
}

.cross:before, .cross:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 10px;
  background-color: var(--white);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  z-index: 1;
}

.cross:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cross:after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}

@media screen and (max-width: 1400px) {
  .stadium {
    top: 43.8%;
    left: 35.8%;
  }

  .bridge {
    top: 68.7%;
    left: 15.9%;
  }

  .a-building {
    top: 25.7%;
    left: 21%;
  }

  .main-entrance {
    top: 60%;
    left: 46%;
  }

  .e-complex {
    top: 37%;
    left: 46%;
  }

  .hotel {
    top: 62%;
    left: 56.3%;
  }

  .building {
    top: 19%;
    left: 53%;
  }

  .residential-building {
    top: 70%;
    left: 66.5%;
  }

  .business-center {
    top: 42.9%;
    left: 55%;
  }

  .hotel-2 {
    top: 80%;
    left: 36%;
  }

}

@media screen and (max-width: 1200px) {
  .stadium {
    top: 43.8%;
    left: 31.8%;
  }

  .bridge {
    top: 68.7%;
    left: 7.9%;
  }

  .a-building {
    top: 25.7%;
    left: 15.9%;
  }

  .main-entrance {
    top: 60%;
    left: 46%;
  }

  .e-complex {
    top: 37%;
    left: 46%;
  }

  .hotel {
    top: 62%;
    left: 56.3%;
  }

  .building {
    top: 18%;
    left: 56%;
  }

  .residential-building {
    top: 70%;
    left: 60%;
  }

  .business-center {
    top: 42.9%;
    left: 55%;
  }

  .hotel-2 {
    top: 80%;
    left: 36%;
  }
}
